.menu {
    opacity: 0;
    pointer-events: none; /* Disable pointer events to prevent interaction */
    position: absolute;
    top: 150px; /* Adjust the top value to position the menu below the header */
    right: 20px; /* Adjust the right value to position the menu from the right edge */
    background-color: white; /* Optional: Set a background color for the menu */
    padding: 10px; /* Optional: Add padding to the menu */
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-20px);
    overflow: hidden;
    z-index: 1; /* Ensure the menu is above other elements */
}

.menu.show {
    opacity: 1;
    pointer-events: auto; /* Enable pointer events when menu is shown */
    transform: translateY(0);
    background-color:#FFFFFF;
    font-family: 'Courier New', Courier, monospace;
}
.menu ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}
.menu-item {
    opacity: 0; /* Initially, hide the menu items */
    transform: translateY(-50px); /* Move the items up by 50px */
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}
a:link{
    text-decoration: none;
    color: #000000;
}
a:visited{
    color: #000000;
}
.menu.show .menu-item:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
}
.menu.show .menu-item:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s; /* Delay the animation for the second item by 0.1s */
}

.menu.show .menu-item:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s; /* Delay the animation for the third item by 0.2s */
}
.menu.show .menu-item:nth-child(4) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s; /* Delay the animation for the third item by 0.2s */
}
.menu.show .menu-item:nth-child(5) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s; /* Delay the animation for the third item by 0.2s */
}
.menu.show .menu-item:nth-child(6) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s; /* Delay the animation for the third item by 0.2s */
}
nav{
    display: flex;
    background-color: #FFFFFF;
    top: 20px;
}
.hamburger{
    height: 3.125rem;
    width: 50px;
    position: fixed;
    top:20px;
    right:20px;
}
.hamburger span{
    height: 5px;
    width: 100%;
    background-color: #000000;
    border-radius: 25px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}
.hamburger span:nth-child(1){
    top:5%;
}
.hamburger span:nth-child(3){
    top: 55%;
}
.hamburger.active span:nth-child(1){
    top:30%;
    transform: translate(-50%, 50%) rotate(45deg);
}
.hamburger.active span:nth-child(2){
    opacity:0;
}
.hamburger.active span:nth-child(3){
    top: 30%;
    transform: translate(-50%, 50%) rotate(-45deg);
}
.switch {
    position: relative;
    display: inline;
    width: 60px;
    height: 34px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 11%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider{
    background-color: #2196F3;
}
input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.header-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
}
.header-container .hamburger{
    position: absolute;
}
.dark-mode{
    display: flex;
    width: 90px;
    height: 75px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 120px;
    top: 20px;
    text-align: center;
}
.dark-mode-text{
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace
}
h1{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
}
body{
    font-family: 'Courier New', Courier, monospace
}
.logo{
    height: 65px;
    width: 63px;
}